/* services area style */
#services {
   background: #fff;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.section-title {
   text-align: center;
   padding: 20px 0;
   font-size: 45px;
   font-weight: 700;
}

.services-area,
.blog-details {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;

}

.services-item,
.blog {
   width: 32%;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding: 20px;
   border-radius: 10px;
}

.services-icon {
   width: 50px;
}

.services-title,
.blog-title {
   font-size: 35px;
   margin: 10px 0;
}

.services-description,
.blog-description {
   font-size: 16px;
   font-weight: 400;
   color: #000;
}

/* services area style */
#blog {
   margin: 100px;
}

.blog {
   padding: 0;
}

.blog-img {
   max-width: 100%;
   height: 300px;
   object-fit: cover;
}

.blog-content {
   padding: 20px 10px;
}

.blog-btn {
   padding: 5px 24px;
   border: 1px solid #ddd;
   background: #fff;
   font-size: 18px;
   border-radius: 50px;
   transition: 0.5s;
}

.blog-btn:hover {
   background: #000;
   color: #fff;

}

/* Login page style */
.form {
   width: 100%;
   height: 100vh;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;

}

.form-area {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding: 50px;
   border-radius: 20px;
}

form {
   width: 600px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
   width: 100%;
   padding: 10px 20px;
   margin: 10px 0;
   border: 1px solid #ddd;
   font-size: 18px;
   border-radius: 50px;
}

input[type="submit"] {
   padding: 7px 30px;
   margin: 10px 0;
   background: rgb(0, 255, 0);
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
   outline: none;
   border-color: rgb(0, 255, 0);
}