#hero {
   background: linear-gradient(#00000073, #00000073), url(https://cdn.pixabay.com/photo/2016/12/30/14/44/city-1940691_960_720.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-content {
   text-align: center;
}

.hero-title {
   font-size: 70px;
   font-weight: 700;
   color: #fff;
}

.hero-description {
   color: #fff;
   font-size: 18px;
}