#services {
   background: #fff;
}

.services-area {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 24px;
}

.services-item {
   width: 31%;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding: 20px;
   border-radius: 20px;
}

.services-icon {
   width: 60px;
}

.services-title {
   margin: 10px 0;
   font-size: 25px;
   color: #000;
}

.services-description {
   font-size: 16px;
   color: #777;

}