#card {
   display: flex;
   flex-wrap: wrap;
}

.card {
   background: #fff;
   border: 1px solid #ddd;
   width: 400px;
   margin: 15px;
}

.card-img {
   max-width: 100%;
   height: 400px;
   object-fit: cover;
}

.card-title {
   font-size: 35px;

}

.card-description {
   font-size: 20px;
}

.card-date {
   font-size: 20px;
}

.card-btn {
   padding: 10px 20px;
   border: none;
   background: orange;
   color: #fff;
   font-size: 20px;

}