@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Work Sans', sans-serif;
}

.container {
   max-width: 1240px;
   margin: 0 auto;
}

img {
   max-width: 100%;
}

.section-title {
   text-align: center;
   font-size: 3rem;
   margin: 50px 0;
}